article {
    background-color: white;
    padding-bottom: 20px;
}
.article-item {
    display: grid;
    grid-template-columns: 350px 1fr;
    padding: 20px;
    padding-bottom: 0;
}    
.article-item.name {
    grid-template-columns: 1fr;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    justify-items: center;
    text-align: center;
}
.article-item.body {
    font-size: 18px;
    grid-gap: 20px;
    background-color: white;
    text-align: justify;
}  
.article-item.title  {
    font-size: 20px;
    text-align: left;
}
.article-item.title > div {
    padding: 15px 0px;
    border-top: 1.5px solid #4cb5ff;
    border-bottom: 1.5px solid #4cb5ff;
}
.article-item.title > div:nth-child(1) {
    font-weight: bold;
    text-align: right;
}
.article-item.title > div:nth-child(2) {
    padding-left: 20px;
}
.article-item.title.training > div {
    padding: 0;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-top: none;
    font-size: 18px;
}
.article-item.title.training > div:nth-child(1) {
    font-weight: normal;
}
.article-item.title.training > div:nth-child(2) {
    text-align: justify;
    color: black;
}
article img {
    display: block;
    max-width: 100%;
}
.bold {font-weight: bold;}
.idea {font-style: italic;}
.article-item.method {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    padding-bottom: 0;
    font-size: 18px;
}
.method-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 20px;
}
.method-item > div {
    display: grid;
    align-self: center;   
}

