.poster {
    position: relative;
    display: grid;  
    grid-template-columns: 1fr;
    justify-items: stretch;
    align-items: stretch;
    font-size: 16px;
    color: black;
}
.myPosterShow {
    opacity: 0.0;
    max-width: 100%;
    display: block;
}
.myPosterShow.image-01 {
    opacity: 1.0;    
}