/*стили для раздела "ОТЗЫВЫ НАШИХ КЛИЕНТОВ"*/
.blocks-item.company {justify-items: stretch;}
.sub1-blocks-item {
    border: 0px solid black;
    font-size: 19px;
    color: white;
    background-color: #4cb5ff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 0px solid #0047a3;
}
.sub1-blocks-item-temp {
    border: 0px solid black;
    font-size: 19px;
    color: white;
    background-color: #1ed9a1;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.sub2-blocks-item {
    border: 0px solid black;
    font-style: italic;
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: stretch;  
}
.sub2-blocks-item div {border: 0px green solid;}
.clients {max-width: 90px;}
.div-clients {
    text-align: center;
    align-self: center;    
}
.organization {
    padding-top: 0;
    text-align: center;
    font-weight: bold;
    font-style: normal;
}
.profession {
    padding-bottom: 0;
    text-align: center;
    font-weight: normal;
    font-style: normal;    
}
.logos {max-width: 150px;}
.div-logos {
    border: 0px green solid;
    padding-top: 20px;
    padding-bottom: 20px;
}
.blocks.but {
    position: relative;
    align-items: center;
    justify-items: center;
}
.blocks.but > div:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 30px;
    width: 200px;
    height: 40px;
    position: relative;
}
.blocks.but > div:nth-child(1) > div:nth-child(1){
    width: 200px;
    position: absolute;
}
