/*стили для шапки сайта*/

.footer {
    font-family: "Century Gothic";
    font-weight: normal;
    font-size: 14px;
    color: white;
    padding-top: 15px;
    padding-bottom: 30px;
    margin: 0;
    margin-top: 25px;
    text-align: left;   
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*-webkit-grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr);
    -moz-grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr);
    -o-grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr);
    -ms-grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr); 
    grid-template-rows: 2fr 3fr 4fr;
    -webkit-grid-template-rows: 2fr 3fr 4fr;
    -moz-grid-template-rows: 2fr 3fr 4fr;
    -o-grid-template-rows: 2fr 3fr 4fr;
    -ms-grid-template-rows: 2fr 3fr 4fr;*/
    grid-gap: 20px;     
}

.headline {
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 25px;
}

.footer-menu-item {
    font-weight: normal;
    color: white;
    list-style: none;
    text-align: left;
    padding: 0;
    padding-bottom: 10px;
    border: 0px solid white;
}

.footer-menu-item.cursor:hover, .footer a:hover {
    margin-left: 10px;
    color: #ff7c00;
    transition-duration: 0.8s;
}

.footer-menu-item.cursor:not(:hover), .footer a:not(:hover) {
    transition-duration: 0.8s;
}

.footer a {
    text-decoration: none;
    color: white;
}