body {
    font-family: Calibri;
    font-size: 20px;
    /*background-image: url(МакетГлавнойСтраницы.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;*/
    margin: 0;
    padding: 0;
}

body>div {
    padding-left: 12.5%;
    padding-right: 12.5%;
    text-align: justify;    
}

/*стили для шапки сайта*/

.header {
    font-family: "Century Gothic";
    font-weight: bold;
    color: white;
    padding-left: 12.5%;
    padding-right: 12.5%;
    justify-self: center;
    align-self: center;
    display: grid;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: #0047a3;
    grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr);
    grid-template-rows: 2fr 3fr 4fr;    
}

.header div:nth-child(1) {
    grid-column: 1 / -1;
}

.phone {
    font-weight: normal;
    justify-self: stretch;
    align-self: center;  
}

.number {
    font-size: 21.1px;
}

.time {
    font-size: 11.5px;
}

.name {
    font-weight: normal;
    justify-self: end;
    align-self: center;
    padding-right: 3px;
}

.first {
    font-size: 20px;
}

.second {
    font-size: 17.3px;
}

.logo {
    justify-self: center;
    align-self: center;
    padding: 0;
    margin: 0;
}

.logo img {
    max-width: 100%;
    align-self: stretch;
    margin: 0;
}

.logo div {
    padding: 0;
    margin: 0;
}

.header-item {
    border: 0px solid rgb(250, 250, 250);
}

/*стили для меню сайта*/

.menu {
    font-family: "Century Gothic";
    font-size: 14px;
    color: #ff7c00;
    /*top: -18px;*/
    margin: 0;
    padding: 0;
    padding-left: 12.5%;
    padding-right: 12.5%;
    /*position: relative;*/
    display: grid;
    background-color: #0047a3;
    grid-template-columns: repeat(8, minmax(130px, 2fr));
}

.menu-item {
    font-weight: bold;
    list-style: none;
    text-align: center;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0px solid rgb(250, 250, 250);
}

/*.service {
    padding: 0;
}

button {
    font-family: "Century Gothic";
    font-size: 14px;
    font-weight: bold;
    color: #ff7c00;
    background-color: #0047a3;
    border: transparent;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}*/

.menu-item:hover{
    background-color: #00a9d2;
    color: white;
}

ul {
    margin: 0;
}

.menu-item:hover ul {
    display: block;
}

.submenu, .menu-item ul {
    font-family: "Century Gothic";
    font-size: 14px;
    background-color: #bfe9f4;
    color: #ff7c00;
    display: none;
    position: absolute;
    text-align: left;
    width: 225px;
    padding: 0;
    top: 47px;
    left: 0;      
}

#sub {
    position: absolute;
}

.submenu-item {
    border: 0px solid rgb(250, 250, 250);
    padding-left: 15px;
    list-style: none;
    height: 28px;
    padding-top: 15px;
    padding-bottom: 5px;   
}

.submenu-item:hover {
    background-color: #00a9d2;
    color: white;
}

/*медиа-запросы в переломных точках*/

@media (max-width: 870px) {    
    .header, .menu, body>div {
        padding-left: 25px;
        padding-right: 25px;
    }
    .header div:nth-child(2) {
        grid-area: telephone;
        justify-self: center;
    }
    .header div:nth-child(3) {
        grid-area: fullname;
        justify-self: center;
    }
    .header div:nth-child(4) {
        grid-area: logotype;
        justify-self: center;
    }
    .logo img {
        width: 300px;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "fullname"
            "logotype"
            "telephone"
    }
    .header-item {
        border: 0px solid rgb(250, 250, 250);
    }
    .menu-item {
        border: 0px solid rgb(250, 250, 250);
    }
}  

@media (max-width: 700px) {
    .menu {
        padding-left: 0;
        padding-right: 0;display: grid;
        background-color: #0047a3;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto); 
    }
    .menu-item:hover ul{
        display: none;
    }  
    .submenu {
        width: 100%;
        text-align: center;
        top: 15px;
    }
    
    .menu-item .service::before {
        content: '▶ ';
        font-size: 80%;
        color: #ff7c00;
    }

    .menu-item:hover .service::before {
        content: '▶ ';
        font-size: 80%;
        color: white;
    }

    .menu-item.open .service::before {
        content: '▼ ';
        color: #ff7c00;
    }

    .menu-item.open:hover .service::before {
        content: '▼ ';
        color: white;
    }
    
    .menu-item.open ul {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;
        top: 17px;
        left: 0;
    }

    #sub {
        position: absolute;
    }

    #sub.open {
        position: relative;
    }
}

.menu-item {
    cursor: pointer;
}

