body {
    font-family: Calibri;
    font-size: 20px;
    /*background-image: url(МакетГлавнойСтраницы.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;*/
    background-color: #f8f4e8;
    margin: 0;
    padding: 0;
}

body > div {
    /*padding-left: 12.5%;
    padding-right: 12.5%;*/
    text-align: justify;    
}

/*цветовая карта*/

.orange-fon {
    background-color: #ff7c00;
}

.orange-text {
    color: #ff7c00;
}

.orange-line {
    border-bottom: 4px solid #ff7c00;    
}

.navy-fon {
    background-color: #0047a3;
}

.navy-text {
    color: #0047a3;
}

.blue-fon {
    background-color: #1e95d9;
}

.blue-text {
    color: #1e95d9;
}

.blue-on-white {
    color: #1e95d9;
    background-color: white;
}

.white-on-blue {
    background-color: #1e95d9;
    color: white;
}

.orange-on-navy {
    background-color: #0047a3;
    color: #ff7c00;   
}

/*поля*/

.fields {
    padding-left: 12.5%;
    padding-right: 12.5%;    
}

/*стили для шапки сайта*/

.header {
    font-family: "Century Gothic";
    font-weight: bold;
    color: white;
    justify-self: center;
    align-self: center;
    display: grid;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr);
    -webkit-grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr);
    -moz-grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr);
    -o-grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr);
    -ms-grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr); 
    grid-template-rows: 2fr 3fr 4fr;
    -webkit-grid-template-rows: 2fr 3fr 4fr;
    -moz-grid-template-rows: 2fr 3fr 4fr;
    -o-grid-template-rows: 2fr 3fr 4fr;
    -ms-grid-template-rows: 2fr 3fr 4fr;     
}

.header > div:nth-child(1) {
    grid-column: 1 / -1;
    -webkit-grid-column: 1 / -1;
    -moz-grid-column: 1 / -1;
    -o-grid-column: 1 / -1;
    -ms-grid-column: 1 / -1; 
}

.phone {
    font-weight: normal;
    justify-self: stretch;
    align-self: center;  
}

.number {
    font-size: 21.1px;
}

.time {
    font-size: 11.5px;
}

.name {
    font-weight: normal;
    justify-self: end;
    align-self: center;
    padding-right: 3px;
}

.first {
    font-size: 20px;
}

.second {
    font-size: 17.3px;
}

.logo {
    justify-self: center;
    align-self: center;
    padding: 0;
    margin: 0;
}

.image.first {
    opacity: 1px;
    position: absolute;
    z-index: 100;
    max-width: 290px;
    margin: 0;
    margin-left: 5px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
}

.image.first:hover {
    opacity: 0.00;
}

.logo img {
    max-width: 290px;
    align-self: stretch;
    margin: 0;
    margin-left: 5px;
}

.logo div {
    padding: 0;
    margin: 0;
    display:inline-block;
}

.header-item {
    border: 0px solid white;
}

/*стили для меню сайта*/

.menu-font {
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bold;
}
.menu {
    display: grid;
    grid-template-columns: repeat(8, minmax(130px, 2fr));
    -webkit-grid-template-columns: repeat(8, minmax(130px, 2fr));
    -moz-grid-template-columns: repeat(8, minmax(130px, 2fr));
    -o-grid-template-columns: repeat(8, minmax(130px, 2fr));
    -ms-grid-template-columns: repeat(8, minmax(130px, 2fr)); 
}

.menu-item {
    list-style: none;
    text-align: center;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0px solid white;
}

.menu-item:hover{
    background-color: #00a9d2;
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; 
}

ul {
    margin: 0;
}

.submenu, .menu-item ul {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    /*box-shadow: inset, 10px, 10px, rgba(200, 200, 200, .2);
    background-color: #f7f7f7;
    background-color: #e7e7e7;
    background-color: #dfdfdf;*/
    background-color: #daf7fe;
    /*background-color: #bfe9f4;*/
    display: none;
    position: absolute;
    text-align: left;
    width: 240px;
    padding: 0;
    top: 48px;
    left: 0;     
}

.menu-item:hover ul {
    display: inline-block;
    transition: all 0.3s; 
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; 
}

#sub {
    position: absolute;
}

.submenu-item {
    border: 0px solid rgb(250, 250, 250);
    padding-left: 15px;
    list-style: none;
    height: 28px;
    padding-top: 15px;
    padding-bottom: 5px; 
}

.submenu-item:hover {
    background-color: #00a9d2;
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s; 
}

.menu-item {
    cursor: pointer;
}

/*стили для тематических разделителей в содержании сайта*/

.subject {
    font-family: Calibri;
    font-size: 26px;
    font-weight: bold;
    display: grid;
    padding-top: 25px;
    padding-bottom: 25px;
    grid-column-gap: 20px;
    -webkit-grid-column-gap: 20px;
    -moz-grid-column-gap: 20px;
    -o-grid-column-gap: 20px;
    -ms-grid-column-gap: 20px;
    grid-template-columns: 1fr auto 1fr;
    -webkit-grid-template-columns: 1fr auto 1fr;
    -moz-grid-template-columns: 1fr auto 1fr;
    -o-grid-template-columns: 1fr auto 1fr;
    -ms-grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-grid-template-rows: 1fr 1fr;
    -moz-grid-template-rows: 1fr 1fr;
    -o-grid-template-rows: 1fr 1fr;
    -ms-grid-template-rows: 1fr 1fr; 
}

.subject > div:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    border: 0px solid black;
}

.subject > div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.subject > div:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*стили для блоков презентации сайта*/

.content-font {
    font-family: Calibri;
    font-size: 17px;
    color: black;
}

.grid-for-content-blocks {
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-gap: 20px;   
}

.presentation {
    grid-template-columns: minmax(200px, 3fr) minmax(345px, 5fr);
    grid-template-rows: 1fr 1fr;
}

/*стили для блоков в содержании сайта*/

.blocks {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    align-items: stretch;
}

.blocks-item {
    border: 0px solid black;
    background-color: white;
    
}

.sub1-blocks-item {
    border: 0px solid black;
    font-size: 19px;
    color: white;
    background-color: #1e95d9;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.sub1-blocks-item-temp {
    border: 0px solid black;
    font-size: 19px;
    color: white;
    background-color: #1ed9a1;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.sub2-blocks-item {
    border: 0px solid black;
    font-style: italic;
    text-align: justify;
    padding: 20px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 10px;    
}

.sub3-blocks-item {
    border: 0px solid black;
    font-style: italic;
    text-align: justify;
    padding: 20px;   
}

.sub2-blocks-item > div {
    border: 0px green solid;
    /*align-self: center;*/
}

.clients {
    max-width: 90px;
}

.div-clients {
    text-align: center;
    align-self: center;    
}

.organization {
    padding-top: 0;
    text-align: center;
    font-weight: bold;
    font-style: normal;
}

.profession {
    padding-bottom: 0;
    text-align: center;
    font-weight: normal;
    font-style: normal;    
}

.review {
    /*text-align: justify;
    padding-top: 15px;
    padding-bottom: 40px;*/        
}

.logos {
    max-width: 150px;
}

.div-logos {
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
    align-self: flex-end;
}

/*медиа-запросы для header и menu в переломных точках*/
@media (max-width: 1450px) {    
    .fields {
        padding-left: 9%;
        padding-right: 9%;
    }
}
@media (max-width: 1250px) {    
    .fields {
        padding-left: 6%;
        padding-right: 6%;
    }
}
@media (max-width: 1050px) {    
    .fields {
        padding-left: 25px;
        padding-right: 25px;
    }
}    
@media (max-width: 750px) {    
    .grid-for-content-blocks {
        margin-left: 0;
        margin-right: 0;   
    }
    .logo img {
        width: 300px;
    }
    .header > div:nth-child(2) {
        grid-area: telephone;
        justify-self: center;
    }
    .header > div:nth-child(3) {
        grid-area: fullname;
        justify-self: center;
    }
    .header > div:nth-child(4) {
        grid-area: logotype;
        justify-self: center;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "fullname"
            "logotype"
            "telephone"
    }
    .header-item {
        border: 0px solid white;
    }
    .menu-item {
        border: 0px solid white;
    }
}  

@media (max-width: 700px) {
    .menu {
        padding-left: 0;
        padding-right: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto); 
    }
    .menu-item:hover ul{
        display: none;
    }  
    .submenu {
        width: 100%;
        text-align: center;
        top: 15px;
    }
    
    .menu-item .service::before {
        content: '▶ ';
        font-size: 80%;
        border: none;
        color: #ff7c00;
    }

    .menu-item:hover .service::before {
        content: '▶ ';
        font-size: 80%;
        border: none;
        color: white;
        background-color: #00a9d2;
    }

    .menu-item.open .service::before {
        content: '▼ ';
        font-size: 80%;
    }

    .menu-item.open ul {
        display: block;
        text-align: center;
        width: 100%;
        padding: 0;
        top: 17px;
        left: 0;
    }

    #sub {
        position: absolute;
    }

    #sub.open {
        position: relative;
    }
}

@media (max-width: 320px) {
    .first {
        font-size: 16px;
    }

    .second {
        font-size: 13.8px;
    }
    .number {
        font-size: 18px;
    }
    
    .time {
        font-size: 9.9px;
    }
}

/*медиа-запросы для content в переломных точках*/

@media (max-width: 1350px) {    
    .presentation > div:nth-child(1) {
        grid-area: about;
    }
    .presentation > div:nth-child(2) {
        grid-area: advantage;
    }
    .presentation > div:nth-child(3) {
        grid-area: activity;
    }
    .presentation > div:nth-child(4) {
        grid-area: trust;
    }
    .presentation {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas:
            "advantage advantage"
            "about activity"
            "trust trust"
    }
    .blocks {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        /*grid-template-rows: 1fr 1fr;*/
    }
    /*.blocks > div:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }*/
}

@media (max-width: 900px) {    
    /*.presentation {
        grid-template-columns: minmax(215px, 3fr) minmax(345px, 5fr);
        grid-template-rows: 1fr 1fr;
    }*/
    .blocks {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        /*grid-template-rows: 1fr 1fr;*/
    }
}

@media (max-width: 550px) {    
    .subject {
        font-size: 22px;
    }
    .orange-line {
        border-bottom: 3.5px solid #ff7c00;    
    }
    .presentation {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "advantage"
            "about"
            "activity"
            "trust"
    }
    .sub2-blocks-item > div {
        border: 0px black solid;
    }
    .sub2-blocks-item > div:nth-child(1) {
        grid-area: photo;
        align-self: flex-start;
    }
    .sub2-blocks-item > div:nth-child(2) {
        grid-area: status;
        align-self: flex-start;
    }
    .sub2-blocks-item > div:nth-child(3) {
        grid-area: monologue;
        text-align: justify;
    }
    .sub2-blocks-item > div:nth-child(4) {
        grid-area: logo-type;
        padding-top: 10px;
    }
    .sub2-blocks-item {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "photo monologue"
            "status monologue"
            "logo-type logo-type"        
    }
    .blocks {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    /*.blocks > div:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }*/
}