/*стили для шапки сайта*/

.header {
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 16px;
    color: white;
    display: grid;
    grid-row-gap: 10px;
    padding-top: 10px;
    padding-bottom: 85px;
    margin: 0;
    grid-template-columns: 380px 2fr 1fr;
    /*-webkit-grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr);
    -moz-grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr);
    -o-grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr);
    -ms-grid-template-columns: minmax(160px, 1fr) minmax(260px, 2fr) minmax(230px, 1fr);  */  
}

.header >div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}
.header >div:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.back > div {
    position: relative;
    display: grid;
    justify-items: end;
}

.back > div:hover {
    color: #ff7c00;
    transition-duration: 0.8s;
}

.back > div:not(:hover) {
    color: #86e7ff;
    transition-duration: 0.8s;
}

.telephone {width: 130px; position: absolute;}
.orange-tel {}
.aqua-tel{z-index: 100;}

.callback {
    display: grid;
    padding-bottom: 5px;
    margin: 0;
    align-content: flex-start;
    justify-content: flex-end;
}

.name {
    display:grid;
    align-items: center;
    justify-items: center;
}
.name > span:nth-child(1) {font-size: 27px;}
.name > span:nth-child(2) {font-size: 23.3px;}
    

h1 {
    font-size: 16px;
    display: grid;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.number {
    font-size: 12.75px;
    padding-bottom: 2px;
}

.time {font-size: 13px;}

.first {font-size: 20px;}

.second {font-size: 17.3px;}

.logo { 
    display: grid;
    grid-gap: 10px;
    padding: 0;
    margin: 0;
}

.logo img {
    max-width: 380px;
    display: block;
}

.logo > div {
    padding: 0;
    margin: 0;
    /*justify-self: center;
    align-self: center;*/
    position: relative;
}

.first-img {
    opacity: 1;
    position: absolute;
    z-index: 100;
    /*transition-duration: 3.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;*/
}

.second-img {
    position: relative;
    /*transition-duration: 3.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;*/
}

.first-img:hover {
    opacity: 0.00;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
}

.first-img:not(:hover) {
    opacity: 1;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
}

.aqua-tel:hover {
    opacity: 0.00;
    transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
}
.aqua-tel:not(:hover) {
    opacity: 1;
    transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
}

.header-item {border: 0px solid white;}