/*стили для всплывающих окон*/
.popup {cursor: pointer;}
.popuptext {
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    color: red;
    border: 1.5px solid red;
    box-shadow: 0 0 18px rgba(0, 0, 0, .275);
    text-align: left;
    border-radius: 6px;
    padding: 15px;
    padding-top: 15px;
    position: absolute;
    width: 250px;
    /*height: 40px;*/
    right: 70px;
    font-size: 16px;    
}
.close-popup {font-size: 24px;}
.close-popup:hover,
.close-popup:focus {color: red;}
.popuptext::after {
    content: '▶ ';
    font-size: 75%;
    position: absolute;
    right: -10px;
    bottom: 20px;
    
}
#MP-Call.popuptext {bottom: 145px;}
#MP-Letter.popuptext {bottom: 75px;}
#MP-Online.popuptext {bottom: 5px;}
.popuptext.show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


